doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='css/bootstrap.css')
    title= BaseApp
  body
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')   
    form(method='post', action='/addBlog')
      table
        tr
          td
            label Author
          |      
          td
            input(type='text', name= 'author', placeholder='Enter Author Name')
        |      
        tr
          td
            label Title
          |        
          td
            p
              input(type='text', name = 'title', placeholder='Enter Title')
        |      
        tr
          td
            input(type='submit', value='ADD')
