doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='css/bootstrap.css')
    title= BaseApp
  body
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    form(method='post', action='/deleteBlog/' + data._id + '?_method=DELETE')
      table
        tr
          td
            label Author
          |      
          td
            label #{data.author}
        |      
        tr
          td
            label Title
          |        
          td
            p
              label #{data.title}
        |      
        tr
          td
            input(type='submit', value='CONFIRM DELETE')