doctype html
html(lang="en")
  head
    title= BaseApp
  body
    p BaseApp : Blog Details
     a(href='/showAddblog') ADD BLOG
    table(border="2")
      tr
          td AUTHOR
          |     
          td TITLE
          |    
          td EDIT
          |    
          td DELETE
      for doc in data
        tr
          td #{doc.author}
          |     
          td #{doc.title}
          |      
          td
            a(href='/showUpdateView/' + doc._id)
              | EDIT
          td
            a(href='/showDeleteView/' + doc._id)
              | DELETE