doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='css/bootstrap.css')
    title= BaseApp
  body
    center
      div(style='border:solid 2px black;margin-top:150px;width:300px;padding-bottom:30px;padding-top:30px')
        script(src='js/jquery.js')
        script(src='js/bootstrap.min.js')
        form(id='can', method='get', action='/')
        form(id='update',method='post', action='/updateBlog/' + data._id + '?_method=PUT')
          table
            tr
              td
                label Author
              |      
              td
                input(type='text', name = 'author', placeholder='Enter Author Name', value=data.author, form='update')
            |      
            tr
              td
                label Title
              |        
              td
                p
                  input(type='text', name = 'title',  placeholder='Enter Title', , value=data.title, form='update')
            | 
            tr
              td
                input(type='submit', value='UPDATE', form='update')
              |      
              td
                input(type='submit', value='CANCEL',form='can')