doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='css/bootstrap.css')
    title= BaseApp
  body
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    form(method='post', action='/updateBlog/' + data._id + '?_method=PUT')
      table
        tr
          td
            label Author
          |      
          td
            input(type='text', name = 'author', placeholder='Enter Author Name', value=data.author)
        |      
        tr
          td
            label Title
          |        
          td
            p
              input(type='text', name = 'title',  placeholder='Enter Title', , value=data.title)
        | 
        tr
          td
            input(type='submit', name='commit', value='UPDATE')